@font-face {
    font-family: 'Light';
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Thin';
    src: url(fonts/Roboto-Thin.ttf);
}

html, body {
    font-family: 'Light';
    margin: 0;
    background: whitesmoke; 
}

#navbar {
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    margin-bottom: 80px;
    background-color: #dad5d1;
    z-index: 99;
}

#intro {
    color: #3b3b3b;
    padding-left: 40px;
    float: left;
    letter-spacing: 3px;
}

#intro > #name {
    padding-left: 25px;
}

#intro > p {
    padding-top: 7px;
    font-size: 18;
}

#links {
    float: right;
    padding-right: 40px;
}

#name {
    margin-bottom: -20px;
    text-decoration: none;
}

#home, #projects {
    color: #4a4a4a;
    text-decoration: none;
}

#home:hover, #projects:hover {
    color: #3b1d12;
}

#projects {
    color: #4a4a4a;
}

#links {
    margin-top: 15px;
    display: flex;
}

ul {
    list-style: none;
    text-align: center;
}

#bar_h, #bar_p {
    border: none;
    background-color: #4a4a4a;
    height: 1px;
    width: 180px;
    margin-top: -12px;
}

#content {
    margin-top: 100px;
    max-width: 1550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about {
    display: flex;
    margin-left: 150px;
}

#left_about {
    color: #3b3b3b;
    width: 450px;
    height: 400px;
    background-color: #e7e5e5;
    padding-inline: 120px;
    padding-top: 40px;
    animation: fadeInLeft 1.4s both;
}

#left_about > #about_title {
    text-align: left;
    font-size: 30;
    animation: fadein 2s;
}

#desc {
    font-size: 15;
    animation: fadein 3s;
}

#right_about {
    margin-top: 110px;
    margin-left: -100px;
    width: 450px;
    height: 220px;
    background-color: #d4cfcb;
    animation: fadein 2s;
    z-index: 3;
}

#square {
    margin-top: 110px;
    margin-left: 80px;
    width: 320px;
    height: 220px;
    background-color: #d4cfcb;
}

.fadeInRight {
    animation: fadeInRight 1.5s both;
}

.fadeInLeft {
    animation: fadeInLeft 1.5s both;
}

#socials {
    opacity: 0;
    float: right;
    margin-right: 200px;
    margin-top: -200px;
    width: 600px;
    height: 600px;
    background-color: #e6e5e5;
}

#social_links {
    padding-top: 120px;
    line-height: 80px;
}

#form {
    opacity: 0;
    flex-direction: column;
    margin-top: 55px;
    padding-bottom: 50px;
    width: 400px;
    margin-left: 100px;
    margin-bottom: 40px;
}

button {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #e6e5e5;
    margin-top: 30px;
    height: 50px;
    width: 150px;
}

li > a {
    text-decoration: none;
    color: #3b3b3b;
}

input, textarea {
    background-color: #e6e5e5;
    border: none;
    resize: none;
    color: #3b3b3b;
    padding-inline: 20px;
    font-size: 15;
    width: 400px;
}

input:focus, textarea:focus {
    outline: none;
}

input {
    height: 45px;
    margin-bottom: 25px;
}

textarea {
    padding-top: 16px;
    height: 120px;
}

#footer {
    height: 100px;
    width: 100%;
    background-color: #d5d5d5;
}

#footer > p {
    color: whitesmoke;
    padding-left: 100px;
    padding-top: 40px;
}

#contact {
    text-align: center;
    font-size: 24;
    letter-spacing: 3px;
}


/* PROJECTS PAGE */

#left { float: left; margin-top: -350px; }
#right { float: right; margin-right: 50px;}
#card-left { background-color: #e7e5e5; }
#card-right { background-color: #e6e0db; }

#card-left, #card-right {
    width: 700px;
    height: 400px;
    margin-top: 350px;
}

#card-left>h2, #card-right>h2 {
    font-family: 'Light';
    padding-top: 25px;
}

#project-title {

}

#project-desc {
    
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-80px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}