/* =========================== G L O B A L =========================== */
body {
    background-color: #070707;
    overflow: hidden;
}

#github {
    margin-top: -5px;
    margin-left: -5px;
}

#blob {
    background: white;
    height: 30vmax;
    width: 34vmax;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, white, aliceblue);
    animation: rotate 44s infinite;
    opacity: 0.2;
    z-index: 2;
    filter: blur(4rem);
    transition: 1s ease-in-out all;
}

@-webkit-keyframes twinkle_one {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes twinkle_one {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes twinkle_one {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes twinkle_one {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes twinkle_two {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes twinkle_two {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes twinkle_two {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes twinkle_two {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes twinkle_three {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes twinkle_three {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes twinkle_three {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes twinkle_three {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.star {
    position: absolute;
    background-color: white;
}

.star-type1 {
    width: 1px;
    height: 1px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 1px 1px white;
    box-shadow: 0 0 1px 1px white;
    -webkit-animation: twinkle_one 3s ease-in-out infinite;
    -moz-animation: twinkle_one 3s ease-in-out infinite;
    -o-animation: twinkle_one 3s ease-in-out infinite;
    animation: twinkle_one 3s ease-in-out infinite;
}

.star-type2 {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 1px white;
    box-shadow: 0 0 2px 1px white;
    -webkit-animation: twinkle_two 12s ease-in-out infinite;
    -moz-animation: twinkle_two 12s ease-in-out infinite;
    -o-animation: twinkle_two 12s ease-in-out infinite;
    animation: twinkle_two 12s ease-in-out infinite;
}

.star-type3 {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 0 white;
    box-shadow: 0 0 2px 0 white;
    -webkit-animation: twinkle_three 7s ease-in-out infinite;
    -moz-animation: twinkle_three 7s ease-in-out infinite;
    -o-animation: twinkle_three 7s ease-in-out infinite;
    animation: twinkle_three 7s ease-in-out infinite;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -60%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, 200%, 0);
    }
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* =========================== H O M E =========================== */
.outter {
    margin-top: 25vmin;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .outter:after {
    content: "";
    display: table;
    clear: both;
  }

.hero-container {
    cursor: default;
    color: aliceblue;
    opacity: 0.8;
}

.hero-container>h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 6vmax;
    letter-spacing: 4px;
}

.hero-bio {
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
    animation: fadeIn 1.6s ease-in-out both;
}

.hero-btn {
    margin-inline: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid;
    transition: 0.25s ease-in-out all;
}

.hero-btn:hover {
    scale: 1.1;
}

.projects {
    font-family: 'Nunito', sans-serif;
    color: aliceblue;
    opacity: 0.8;
    margin-top: 30px;
    margin-left: 50px;
}

#project-title {
    margin-left: 30px;
    padding-top: 30px;
    transition: 0.5s ease-in-out all;
}

.projects>ul {
    margin-top: 30px;
    list-style: none;
    line-height: 5vh;
    border-left: 1px solid;
    transition: 2s ease-in-out all;
}

.project-item {
    text-decoration: none;
    color: aliceblue;
    border-bottom: 1px solid;
    transition: ease-in-out .25s;
    padding-bottom: 2px;
}

.project-item:hover {
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 4px;
}

@media screen and (min-width: 1200px) {
    .hero-bio {
        font-size: 1.1vmax;
    }

    .projects {
        font-size: 1.1vmax;
    }
}

@media screen and (max-width: 800px) {
    body {
        overflow-y: auto;
    }
}