/* =========================== G L O B A L =========================== */
body {
    background-color: #191919;
    overflow-x: hidden;
}

#github {
    margin-top: -5px;
    margin-left: -5px;
}

#blob {
    background: white;
    height: 30vmax;
    width: 34vmax;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, white, aliceblue);
    animation: rotate 44s infinite;
    opacity: 0.4;
    z-index: 2;
    filter: blur(4rem);
    transition: 1s ease-in-out all;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    animation:move-background 50s linear infinite;
}

@keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  @-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }

  @keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -40%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(0, 200%, 0);
	}
}

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  .background-container{
      position: fixed;
      top: 0;
      left:0;
      bottom: 0;
      right: 0;
  }
  
  .stars {
   background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
   position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
        z-index: 0;
  }


/* =========================== H O M E =========================== */
.outter {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
}

.hero-container {
    cursor: default;
    color: aliceblue;
    opacity: 0.8;
}

.hero-container > h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 6vmax;
    letter-spacing: 4px;
    transition: 3s ease-in-out all;
}

.hero-bio {
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
    animation: fadeIn 1.6s ease-in-out both;
    transition: 3s ease-in-out all;
}

.spacer { width: 100px; }

.projects {
    font-family: 'Nunito', sans-serif;
    color: aliceblue;
    opacity: 0.8;
    margin-top: 30px;
}

.projects > ul {
    margin-top: 30px;
    list-style: none;
    line-height: 5vh;
    border-left: 1px solid;
    transition: 2s ease-in-out all;
}

.project-item {
    text-decoration: none;
    color: aliceblue;
    border-bottom: 1px solid;
    transition: ease-in-out .25s;
    padding-bottom: 2px;
}

.project-item:hover {
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 4px;
}

@media screen and (min-width: 1200px) {
    .hero-bio {
        font-size: 1.1vmax;
    }
    .projects {
        font-size: 1.1vmax;
    }
    .outter {
        top: 45%;
        transform: translateY(-45%);
    }
  }