@font-face {
    font-family: 'Light';
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Thin';
    src: url(fonts/Roboto-Thin.ttf);
}

html, body {
    font-family: 'Light';
    margin: 0;
    background-color: whitesmoke;
}

#navbar {
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #E4DEDA;
}

#intro {
    color: #3b3b3b;
    padding-left: 40px;
    float: left;
    letter-spacing: 3px;
}

#intro > #name {
    padding-left: 25px;
}

#intro > p {
    padding-top: 7px;
    font-size: 18;
}

#links {
    float: right;
    padding-right: 40px;
}

#name {
    margin-bottom: -20px;
    text-decoration: none;
}

#home, #projects {
    color: #4a4a4a;
    text-decoration: none;
}

#home:hover, #projects:hover {
    color: #3b1d12;
}

#projects {
    color: #4a4a4a;
}

#links {
    display: flex;
}

ul {
    list-style: none;
    text-align: center;
}

#bar_h, #bar_p {
    border: none;
    background-color: #4a4a4a;
    height: 1px;
    width: 180px;
    margin-top: -12px;
}

#content {
    margin-top: 100px;
}

#about {
    display: flex;
    margin-left: 150px;
}

#left_about {
    color: #3b3b3b;
    width: 450px;
    height: 400px;
    background-color: #e5e7e8;
    padding-inline: 120px;
    padding-top: 40px;
}

#left_about > #about_title {
    text-align: left;
    font-size: 30;
}

#desc {
    font-size: 15;
}

#right_about {
    border: #4a4a4a;
    margin-top: 110px;
    margin-left: -100px;
    width: 450px;
    height: 220px;
    background-color: #E4DEDA;
}