<style>
    #banner {
        height: 300px;
        width: 100%;
        max-width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div id="main">
    <img class="align-center" id="banner" src="/images/skyline.jpg">

    <h1>This is the index page</h1>
</div>